*{margin:0; padding:0}

a:link, a:visited, a:active, a:hover {text-decoration:none}

a img {border:none;}


#texto {
	width: 400px;
	height:100px;
	float:left;
	/* margin: 5px 105px; */
	font-family:verdana;
	font-size: 13px;
	color: #bb4f24;
	font-weight: 500;
	text-transform: uppercase;
	margin: 0 auto;
	text-align: center;
	line-height: 35px;
}
#texto1 {
	width:100px;
	height:100px;
	float:left;
	margin:0 15px;
	font-family:verdana;
	
}
#texto2 {
	width:100px;
	height:100px;
	float:left;
	margin:0 15px;
	font-family:verdana;
}
#master {
	/* width:440px; */
	height: 420px;
	/*background:url(../imagens/imagem/fundo2.png) no-repeat;*/
	position: relative;
	}
	
#formulario {
	width:440px;
	height: 364px;
	font-size:11px;
	color:#4B4A4A;
	background-color: #ecffaa;
	padding: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#formulario li{width:auto; margin: 6px 0;}
#formulario li span{width: 271px; display:block; float:left; /* padding-top: 23px; */text-align: right;padding-right: 8px;font-size: 13px;color: #bb4f24;font-weight: 500;text-transform: uppercase;}

#fim-barra {
	/* float:right; */
	width: 459px;
	height:50px;
	/* margin-top:5px; */
	clear: left;
	background-color: #ecffaa;
}
#botao {
	width: 135px;
	height: 48px;
	margin-left:15px;
	float:left
}

#resultado {
	width: 208px;
	height:50px;
	float: left;
	font-family:verdana;
	padding-top:10px;
	font-size: 13px;
	color: #bb4f24;
	font-weight: 500;
	text-transform: uppercase;
}
}
#total {
	width: 80px;
	height:23px;
	background-color:#FFF;
	border:#F60;
	text-align:center;
	/* margin-right:50px; */
	padding-top:0px;
	float: right;
}

ul{margin:15px 0 0 30px}
li {
	display:block;
	list-style: none;
}
p {	font-size:10pt; font-family:verdana; padding-left:7px; margin-top:-19px; color:#4B4A4A; }

#resul {width:440px; height:439px; position: absolute;left: 445px;top: 0px;
	background:url(../imagens/imagem/selecione.jpg) no-repeat;
}


#opcao {width:440px; font-family:verdana; font-size:11px; font-weight:bold; text-align:center; color:#4B4A4A;text-align: center;}

#rodape{width:440px; height:auto; float:right; font-family:verdana; font-size: 0; color:#B61918; text-align:center;position: absolute;top: 0;right: 24px;} 


.name li {
    height: 38px;
}

li.seleciona {
    height: 115px;
    padding-left: 50px;
}
input[type="text"] {
	height: 25px;
	background: #ecffaa;
	border: 1px solid  #acacac;
	text-align: center;
}

label.metros {
    font-size: 13px;
    color: #bb4f24;
    font-weight: bold;
    text-transform: uppercase;
}

label.metros {
    font-size: 13px;
    color: #bb4f24;
    font-weight: 500;
    text-transform: uppercase;
}

h2.titulo {
    font-size: 15px;
    text-align: center;
    color: #bb4f24;
    font-weight: 100;
    text-transform: uppercase;
    padding-bottom: 22px;
}

input[type="radio"]{
	width: 15px;
	height: 15px;
background: #fff;
}


.footerResoltado {
    width: 428px;

}


li.seleciona label {
    margin-right: 52px;
}
#total {
    width: 80px;
    height: 23px;
    background-color: #FFF;
    border: #F60;
    text-align: center;
    margin-right: 28px;
    padding-top: 0px;
    float: right;
}
span.resultado2
{
	font-family: verdana;
	font-size: 13px;
	color: #bb4f24;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 41px;
}
